@font-face {
  font-family: "Droid Serif";
  src: url("../../../public/DroidSerif-Regular.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Montserrat&display=swap');
.App {
  display: flex;
  flex-direction: column;
}
.nav{
  display: flex;

  &_logo{
  font-family: 'Droid Serif';
  text-align: center;
  line-height: 47px;
  color:#ED8C8C;
  font-weight: 700;
  font-size: 40px;
  padding: 1em;
  }
  &_nav{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 1em;
    margin-left: 2em;
    align-content: flex-end;
    ul{
      display: flex;
      flex-direction: row;
      list-style: none;
      align-content: flex-end;
  
      li{
        display: inline-block;
        align-items: center;
        padding: .2em .7em;
        
      }
    }
  }

}
.header{
  //background-image: url("../../../public/vecteezy_abstract-art-gold-tropical-leaves-background-vector-luxury_14041525.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  height:1140px;
  width: 100%;
  align-content: center;
  &_section2{
    position: absolute;
    width: 1651px;
    align-items: center;
    left: 134px;
    top: 432px;
  }

  &_title{
    font-family: 'Droid Serif';
    font-weight: 700;
    font-size: 96px;
  }
  &_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
  }
}
.Contacto{
  position: fixed;
  font-family:'IBM Plex Mono', monospace;
  display: flex;
  font-size: 24px;
  align-items: center;
  padding: 0px 0px 0px 14px;
  width: 50px;
  height: 58px;
  border-radius: 69px;
  background-color:#89C051;
  color: #FFFFFF;
  gap: 14px;
  transition: ease 0.35s;
  bottom: 5%;
  left: 75%;
  

  p{
    text-align: center;
  letter-spacing: 0.1em;
  overflow: hidden;
  display: none;
  }
  &:hover{
    width: 377px;
    p{
      display: flex;
    }
  }

  img{
    width: 38px;
    height: 38px;
    
    
  }
}

