@font-face {
	font-family: "Droid Serif";
	src: url("../../../public/DroidSerif-Regular.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Montserrat&display=swap");
.App {
	display: flex;
	flex-direction: column;
	width: 100vw;
}
.nav {
	display: flex;
	width: 100%;
	justify-content: center;
	//margin: 0% 0% 1% 0%;
	position: fixed;
	top: 0;
	z-index: 999;
	padding-top: 2%;
	background-color: #f6e6e6;

	&_logo {
		font-family: "Droid Serif";
		text-align: center;
		line-height: 7px;
		color: #ed8c8c;
		font-weight: 700;
		font-size: 2.2em;
		padding-left: 7%;
	}
	&_subtituloLogo {
		width: max-content;
		font-size: 0.8em;
	}
	&_nav {
		display: flex;
		font-family: "Montserrat", sans-serif;
		font-size: 1.5em;
		padding-right: 0%;
		justify-content: center;
		width: 100%;

		ul {
			display: flex;
			flex-direction: row;
			list-style: none;
			align-content: flex-end;

			li {
				display: inline-block;
				align-items: center;
				padding: 0.2em 1.2em;
				width: max-content;
				color: #000000;
			}
		}
	}
	&_link {
		padding: 0 1% 0 1%;
	}
}
.header {
	//background-image: url("../../../public/vecteezy_abstract-art-gold-tropical-leaves-background-vector-luxury_14041525.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	align-content: center;
	justify-content: center;

	&_section2 {
		display: flex;
		width: 100%;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
	}

	&_title {
		font-family: "Droid Serif";
		font-weight: 700;
		font-size: 5em;
		text-align: center;
		width: max-content;
		padding-top: 10%;
	}
	&_text {
		font-family: "Montserrat", sans-serif;
		font-size: 2em;
		padding-left: 4%;
		padding-right: 4%;
		margin-top: -1%;
		font-weight: 400;
		text-align: center;
	}
}
.Contacto {
	position: fixed;
	font-family: "IBM Plex Mono", monospace;
	display: flex;
	font-size: 1.4rem;
	align-items: center;
	padding: 0px 0px 0px 14px;
	width: 15em;
	height: 2.5em;
	border-radius: 69px;
	background-color: #89c051;
	color: #ffffff;
	gap: 14px;
	bottom: 5%;
	left: 75%;

	p {
		text-align: center;
		letter-spacing: 0.1em;
	}

	img {
		width: 38px;
		height: 38px;
	}
}
.sobreMi {
	background: #ed8c8c;
	height: 100vh;
	width: auto;
	display: flex;
	align-items: center;
	&_containerImg {
		display: flex;
		box-sizing: border-box;
		width: 40%;
		height: 90%;
		margin-left: 5%;
		margin-right: 3%;
		position: relative;
	}
	&_divImg {
		height: 100%;
		width: 100%;
		object-fit: fill;
	}
	&_containerText {
		width: 65%;
		height: 80%;
		margin-right: 1%;
	}
	&_title {
		width: 100%;
		font-family: Droid Serif;
		font-size: 3em;
		font-weight: 700;
		line-height: 70px;
		letter-spacing: 0em;
		text-align: center;
		padding: 10px;
	}
	&_text {
		width: 100%;
		font-family: "Montserrat", sans-serif;
		font-size: 2em;
		font-weight: 400;
		line-height: 51px;
		letter-spacing: 0em;
		text-align: center;
		padding: 10px;
	}
}

.servicios {
	height: 100vh;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5%;
	width: auto;
	&_titulo {
		font-family: "Droid Serif";
		font-style: normal;
		font-weight: 700;
		font-size: 3.2em;
		line-height: 183.64%;
		letter-spacing: 0.25em;
	}
	&_texto {
		width: 77%;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 2.2em;
		line-height: 44px;
		text-align: center;
		color: #000000;
		margin-top: -2%;
	}
	&_marca {
		color: #ed8c8c;
		font-weight: 700;
	}
	&_contenedorRecuadros {
		margin-left: 50%;
		margin-right: 50%;
		width: 62%;
		max-width: 80vh;
		height: 60vh;
		display: grid;
		justify-content: center;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		justify-items: center;
		column-gap: 20%;
		row-gap: 1%;
		padding-bottom: 3%;
	}
	&_recuadro {
		background: #f6e6e6;
		border-radius: 19px;
		height: 83%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-family: "Droid Serif";
		font-style: normal;
		font-weight: 700;
		font-size: 1.12em;
		line-height: 20px;
		margin: auto;
		text-align: center;
		box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);

		color: #000000;
	}
	&_textoHover {
		display: flex;
		flex-direction: column;
		font-size: 0.7em;
		font-weight: 400;
		align-items: flex-start;
		justify-content: space-evenly;
		line-height: 15px;
		height: 80%;
		width: 100%;
		padding: 15%;
		//FALTA AGREGAR UN EFECTO DE FADE
	}
	&_itemsHover {
		text-align: justify;
	}
}

.proyectos {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100vh;

	&_titulo {
		font-family: "Droid Serif";
		font-style: normal;
		font-weight: 700;
		font-size: 3.2em;
		line-height: 183.64%;
		letter-spacing: 0.25em;
	}
}

.slider {
	overflow-x: hidden;
	width: 100%;

	background-color: #ed8c8c;
	height: 100vh;
	margin-bottom: 5%;

	&_container {
		display: flex;
		cursor: grab;
		height: 100%;
		width: auto;
	}
	&_item {
		padding: 2rem;
		img {
			height: 100%;
			width: auto;
			pointer-events: none;
		}
	}
}
