@font-face {
	font-family: "Droid Serif";
	src: url("../../../public/DroidSerif-Regular.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Montserrat&display=swap");
.App {
	display: flex;
	flex-direction: column;
	width: auto;
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	display: none;
}

.nav {
	display: flex;
	width: 100vw;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 999;
	padding-top: 2%;
	background: rgba(253, 217, 217, 0.7);
	align-content: center;

	&_logo {
		font-family: "Droid Serif";
		text-align: center;
		line-height: 7px;
		color: #ed8c8c;
		font-weight: 700;
		font-size: 2.2em;
		padding-left: 7%;
	}
	&_subtituloLogo {
		width: max-content;
		font-size: 0.8em;
	}
	&_nav {
		display: flex;
		font-family: "Montserrat", sans-serif;
		font-size: 1.5rem;
		justify-content: center;
		margin-right: 2vw;

		ul {
			display: flex;
			flex-direction: row;
			list-style: none;
			align-content: flex-end;

			li {
				align-items: center;
				padding: 0.2em 1.2em;
				color: #000000;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
}
.header {
	background-image: url("../abstract-art-\ 1.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	align-content: center;
	justify-content: center;

	&_section2 {
		display: flex;
		width: 100vw;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
	}

	&_title {
		font-family: "Droid Serif";
		font-weight: 700;
		font-size: 5em;
		text-align: center;
		width: auto;
		padding-top: 10%;
	}
	&_text {
		font-family: "Montserrat", sans-serif;
		font-size: 2em;
		padding-left: 4%;
		padding-right: 4%;
		margin-top: -1%;
		font-weight: 400;
		text-align: center;
	}
}

.linkWhatsApp {
	text-decoration: none;
}
.Contacto {
	position: sticky;
	font-family: "IBM Plex Mono", monospace;
	font-style: normal;
	display: flex;
	font-size: 1.3rem;
	font-weight: 400;
	align-items: center;
	padding: 0 0 0 1%;
	width: fit-content;
	height: 6vh;
	border-radius: 69px;
	background-color: #89c051;
	color: #ffffff;
	gap: 14px;
	bottom: 1%;
	left: 79%;
	z-index: 100000;
	margin-bottom: 0.5%;

	p {
		text-align: center;
		letter-spacing: 0.1em;
	}

	img {
		width: 38px;
		height: 38px;
	}
}

.sobreMi {
	background: #ed8c8c;
	height: 100vh;
	width: auto;
	display: flex;
	align-items: center;
	&_containerImg {
		display: flex;
		box-sizing: border-box;
		width: 40%;
		height: 90%;
		margin-left: 5%;
		margin-right: 3%;
		position: relative;
	}
	&_divImg {
		height: 100%;
		width: 100%;
		object-fit: fill;
	}
	&_containerText {
		width: 65%;
		height: 80%;
		margin-right: 1%;
	}
	&_title {
		width: 100%;
		font-family: "Droid Serif";
		font-size: 3em;
		font-weight: 700;
		line-height: 70px;
		letter-spacing: 0em;
		text-align: center;
		padding: 10px;
	}
	&_text {
		width: 100%;
		font-family: "Montserrat", sans-serif;
		font-size: 2em;
		font-weight: 400;
		line-height: 51px;
		letter-spacing: 0em;
		text-align: center;
		padding: 10px;
	}
}

.servicios {
	height: 150vh;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5%;
	width: auto;
	&_titulo {
		font-family: "Droid Serif";
		font-style: normal;
		font-weight: 700;
		font-size: 3.2em;
		line-height: 183.64%;
		letter-spacing: 0.25em;
		color: #ed8c8c;
	}
	&_texto {
		width: 88%;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 1.5em;
		line-height: 120%;
		text-align: justify;
		color: #000000;
		margin-top: -2%;
	}
	&_marca {
		color: #ed8c8c;
		font-weight: 700;
	}
	&_contenedorRecuadros {
		margin-left: 50%;
		margin-right: 50%;
		width: 62%;
		max-width: 97vw;
		height: 100vh;
		display: grid;
		justify-content: center;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		justify-items: center;
		column-gap: 15%;
		row-gap: 1%;
		padding-bottom: 3%;
	}
	&_recuadro {
		background: #f6e6e6;
		border-radius: 19px;
		height: 83%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-family: "Droid Serif";
		font-style: normal;
		font-weight: 700;
		font-size: 1.5em;
		line-height: 20px;
		margin: auto;
		text-align: center;
		box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);

		color: #000000;
	}
	&_textoHover {
		display: flex;
		flex-direction: column;
		font-size: 1em;
		font-weight: 400;
		align-items: flex-start;
		justify-content: space-evenly;
		line-height: 140%;
		height: 80%;
		width: 100%;
		padding: 15%;
		//FALTA AGREGAR UN EFECTO DE FADE
	}
	&_itemsHover {
		text-align: left;
	}
}

.proyectos {
	text-align: center;
	max-width: 124rem;
	padding: 4rem, 1rem;
	margin: 0 auto;
	position: relative;

	&_titulo {
		font-family: "Droid Serif";
		font-style: normal;
		font-weight: 700;
		font-size: 3.2em;
		line-height: 183.64%;
		letter-spacing: 0.25em;
		color: #ed8c8c;
	}
	&_swiper_container {
		height: 52rem;
		padding: 2rem 0;
		margin: 0 2%;
		position: relative;
		margin-bottom: 5%;
		background-color: #fdd9d9;
		padding: 5%;
	}
	&_imgContainer {
		display: flex;
		width: 100%;
		height: 100%;
		align-content: stretch;
		background-color: #bf8d8d;
	}
	&_slide {
		width: 108%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&_hoverLeaveImg {
		height: 100%;
	}
	&_textoHover {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		padding: 10%;

		line-height: 140%;
		text-align: center;

		color: #000000;
		font-size: 2.5em;
	}
	.swiper-wrapper {
		height: auto;
	}

	@media (max-width: 500px) {
		.proyectos_swiper_container {
			height: 47rem;
		}
		.swiper-slide {
			width: 28rem !important;
			height: 36rem !important;
		}
		.swiper-slide img {
			width: 28rem !important;
			height: 36rem !important;
		}
	}

	.swiper {
		height: 70vh;
		display: flex;
		align-items: stretch;
		padding: 2% 4%;
	}

	.swiper-slide img {
		width: 100%;
		height: 100%;
		margin: auto;
		object-fit: cover;
	}

	&_swiper_button_prev {
		position: absolute;
		top: 50%;
		z-index: 999;
		width: min-content;
		img {
			height: 40px;
			cursor: pointer;
		}
	}
	&_swiper_button_next {
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 999;
		width: min-content;
		img {
			height: 40px;
			cursor: pointer;
		}
	}
}

.swiper-wrapper {
	align-items: center;
}

.swiper-slide {
	width: 37rem;
	height: 42rem;
	position: relative;
	img {
		height: 80vh;
	}
}

.slider {
	overflow-x: hidden;
	width: 100%;

	background-color: #ed8c8c;
	height: 100vh;
	margin-bottom: 5%;

	&_container {
		display: flex;
		cursor: grab;
		height: 100%;
		width: auto;
	}
	&_item {
		padding: 2rem;
		img {
			height: 100%;
			width: auto;
			pointer-events: none;
		}
	}
}

.footer {
	background-color: #040404;
	color: #f7f7f7;
	font-family: "Montserrat";
	font-weight: 500;
	display: flex;
	flex-direction: column;
	padding-left: 4%;

	&_textContainer {
		display: flex;
		flex-direction: column;
	}

	&_title {
		font-size: 3.78em;
		margin-left: 4vw;
	}
	&_subtitle {
		font-size: 1.8em;
		display: flex;
		margin-left: 4vw;
		margin-right: 4vw;
		margin-top: -2em;
		align-items: center;
		width: auto;
		height: auto;

		p {
			max-width: 70vw;
		}
		&_enlace {
			color: #f7f7f7;
		}
	}
	&_icons {
		display: flex;
		margin-left: 4vw;
		margin-bottom: 3vh;
	}
}
.footer2 {
	background-color: #fdd9d9;
	display: flex;
	font-family: "Montserrat";
	font-style: normal;
	font-size: 2.18em;
	font-weight: 300;
	height: 10vh;
	letter-spacing: 0.655em;
	text-align: center;
	justify-content: center;
	align-items: center;
}
